################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure.AI.Codes/.vs/Azure.AI.Codes
/Azure.AI.Codes/Azure.AI.Agent/bin/Debug/net8.0
/Azure.AI.Codes/Azure.AI.Agent/obj
/Azure.AI.Codes/Azure.AI.Agent/Azure.AI.Agent.csproj.user
/Azure.AI.Codes/.vs/ProjectEvaluation
/Azure.AI.Codes/My.Azure.AI.Agent.AutoGen/obj
/Azure.AI.Codes/My.Azure.AI.Agent.AutoGen/My.Azure.AI.Agent.AutoGen.csproj.user
/Azure.AI.Codes/My.Azure.AI.Agent.GenAI/obj
/Azure.AI.Codes/My.Azure.AI.Agent.GenAI/My.Azure.AI.Agent.GenAI.csproj.user
/Azure.AI.Codes/My.Azure.AI.Agent.OpenAI/obj
/Azure.AI.Codes/My.Azure.AI.Agent.OpenAI/My.Azure.AI.Agent.OpenAI.csproj.user
/Azure.AI.Codes/My.Azure.AI.Agent.SemanticK/obj
/Azure.AI.Codes/My.Azure.AI.Agent.SemanticK/My.Azure.AI.Agent.SemanticK.csproj.user
